<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workmy - Login</title>
</head>
<body>

    <h1>Acessar o Workmy</h1>

    <!-- Exibe mensagens de erro (ex: senha incorreta) -->
    {% if form.errors %}
        <p style="color: red;">Nome de usuário ou senha incorretos. Tente novamente.</p>
    {% endif %}

    <!-- O formulário precisa ter o method="POST" por segurança -->
    <form method="POST">
        <!-- O csrf_token é OBRIGATÓRIO no Django. Sem ele, o formulário não funciona -->
        {% csrf_token %}
        
        <!-- O form.as_p renderiza os campos de usuário e senha automaticamente dentro de tags <p> -->
        {{ form.as_p }}
        
        <button type="submit">Entrar no Sistema</button>
    </form>
    <hr>
    <p>Ainda não tem conta? <a href="{% url 'registro' %}">Cadastre-se aqui</a>.</p>    
</body>
</html>