<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workmy - Criar Conta</title>
</head>
<body>

    <h1>Criar Nova Conta</h1>

<!-- O atributo enctype é OBRIGATÓRIO para o upload da foto funcionar -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Cadastrar</button>
    </form>

    <hr>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>.</p>

</body>
</html>